<div class="content-pane">
  <mat-card class="card">
    <h2 class="title">Sube tus palabras</h2>

    <form class="row" [formGroup]="uploadForm" (ngSubmit)="save()">
      <mat-form-field class="form-field">
        <mat-label>Ingrese sus palabras!!.</mat-label>
        <textarea formControlName="word" matInput></textarea>
      </mat-form-field>
      <button class="item-end" mat-raised-button color="primary" type="submit">
        <mat-icon>publish</mat-icon> Upload
      </button>
      <span class="item-end"
        ><strong>Info:</strong> Las palabras van separadas por una coma</span
      >
    </form>
  </mat-card>
</div>
