/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-pane {
  margin: 0 auto;
  max-width: 1020px;
  padding: 40px;
  width: 100%;
}
